@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  outline: none;
  font-family: "Kanit", sans-serif;
}
:root {
  --main-color: #f16136;
}
header {
  width: 100%;
  height: 96px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #f7e7e7;
}
header .Logo img {
  margin-left: 75px;
  padding: 32px 16px;
  background: var(--main-color);
  border-radius: 0px 0px 8px 8px;
}
header .contact {
  margin-left: 32px;
  display: flex;
  align-items: center;
}
header .contact .phone-logo {
  display: flex;
  align-items: center;
  justify-content: center;
}
header .contact .numbers {
  margin-left: 10px;
  color: #57606f;
  font-size: 14px;
}
header .sections {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 16px;
  flex: 1;
}
header .sections .top-section ul,
header .sections .bottom-section ul {
  display: flex;
}
header .sections .top-section,
header .sections .bottom-section {
  display: flex;
}
header .sections .top-section {
  justify-content: flex-start;
  border-bottom: 1px solid #e7ecf2;
}
header .sections .top-section ul li a,
header .sections .bottom-section ul li a {
  display: inline-block;
  color: #57606f;
  font-size: 14px;
  font-weight: 400;
  padding: 14px;
  margin-left: 3px;
  letter-spacing: 0.2px;
  height: 100%;
  border-radius: 6px;
  transition: 300ms color, 300ms background-color;
}
header .sections .top-section ul li a:first-child {
  margin-left: 0;
}
header .sections .bottom-section ul li a:last-child {
  margin-right: 0;
}
header .sections .top-section ul li a:hover {
  color: var(--main-color);
}
header .sections .bottom-section ul li a:hover {
  background-color: var(--main-color);
  color: #fff;
}
header .sections .bottom-section ul li a {
  font-weight: 700;
}
header .sections .bottom-section {
  justify-content: flex-end;
}
header .social {
  display: flex;
  align-items: center;
  padding: 16px;
}
header .social img {
  margin-left: 15px;
  cursor: pointer;
}
select {
  margin-left: 10px;
  border: none;
}

header .profile {
  user-select: none;
  margin-left: 16px;
  display: flex;
  align-items: center;
  height: 48px;
  border: 2px solid #555d69;
  border-radius: 24px;
  position: relative;
  cursor: pointer;
  transition: 300ms all;
  margin-right: 40px;
}
header .profile .profile-name {
  color: #57606f;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0px 40px 0px 15px;
}
header .arrow-down {
  position: absolute;
  right: 5px;
  z-index: -2;
  margin-right: 8px;
}

header .profile .dropdown-content {
  position: absolute;
  display: block;
  left: 0;
  top: 55px;
  border: 2px solid #555d69;
  border-radius: 8px;
  padding: 8px;
  display: none;
}

header .profile .dropdown-content span {
  display: block;
  width: 100%;
  color: #57606f;
  border-radius: 5px;
  padding: 3px 8px;
  transition: 300ms all;
  cursor: pointer;
}
header .profile .dropdown-content span:hover {
  background-color: var(--main-color);
  color: #fff;
}
